/* Customize the label (the container) */
.check-container {
    display: block;
    position: relative;
    /* padding-left: 35px;
    margin-bottom: 12px; */
    cursor: pointer;
    /* font-size: 22px; */
    font-size: 1vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    /* top: 0;
    left: 0; */
    height: 1.1em;
    width: 1.1em;
    /* background-color: #eee; */
    background-color: #aaa;
    /* margin-top: 0.3em; */
    margin-top: 0.2vw;
  }
  
  /* On mouse-over, add a grey background color */
  .check-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .check-container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .check-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .check-container .checkmark:after {
    /* left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
     */
    left: 0.3em;
    top: 0.03em;
    width: 0.4em;
    height: 0.7em;
    border: solid white;
    border-width: 0 0.08em 0.08em 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .title-config-text{
    font-size: 1.6vw;
  }
  .txt-show-complexity{
    margin-left: 1.2em;
    cursor: pointer;
  }

  .form-show-complexity{
    /* margin-left: -1.8em; */
    display: flex;
    margin-left: 1vw;
  }