.centroLogin {
    margin-top: 2%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.bothCenter{
    width: 30%;
    align-self: center;
    margin-top: 1%;
    text-align: center;
    /* font-size: 0.8vw; */
}
.size{
    width: 100%;
    /* font-size: 0.8vw; */
}
.label-user, .label-password {
    font-weight: bold;
    font-size: larger;
}

.btn-primary{
    
    align-self: center;
    margin-top: 1%;
    /* font-size: 0.8vw; */
}
.btn-primary-login{
    width: 20%;
}

