/*Para todo el body*/
/* .container{
    display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  flex-direction: row;
} */

.dashboard{
    width: 80%;
    align-content: center;
    margin: 0 auto;
}
.main1 {
    display: flex;
    
    /*para que se corte la palabra en caso de no caber en el div*/
    word-wrap: break-word;
    overflow-wrap: break-word;
    
}
/*para poner margen a todos los componentes por anio menos al primero*/
.margin{
    /* margin-left: 2.36em; */
    margin-left: 2.5%;/*Con esto, el margins e hace responsivo y no queda fijo como en em, em solo funciona para contenedores y con fuente en formato vw no pa margin*/
}
.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 10%;

    text-align: center;
    text-transform: uppercase;
}

.main_div {
    position: relative;
    border: 1px solid;
    height: 6em;
    width: 9em;
    margin: 0.2em;
    margin-left: 0.2em;
    border-radius: 0.5em;
    cursor: pointer;

    font-size: 80%;
    /*Para centar horizontal y vertical*/
    display: inline-flex;
    /*align-items: center;*/
    justify-content: center;
    /*Para que se corte la palabra en caso de no caber en el div*/
    word-break: break-word;
    overflow-wrap: break-word;

     /*para que el texto se ponga con puntitos cuando no alcanza en el div*/
     text-overflow: ellipsis;
     overflow: hidden;
    /* este es necesario para hacer responsivo, con esto indico que el tamano de
    la fuente es de 0.6 de todo el viewport, osea toda al pantalla el dispositivo,
    al hacer mas oequenio va a variar por lo cual el tamano en em del componente
    tambien va a variar porque los em dependen del tamano de la fuente */
     /* font-size: 0.6vw; */
     /* height: 7em;
     width: 10em; */
}
.main_div:hover, .main_div:active, .main_div:focus, .main_div:focus-within{
    box-shadow: 2px 2px 2px;
}
.basica{
    background-color: lavender;
}
.formacion{
    background-color: lightyellow;
}
.titulacion{
    background-color: lightblue;
}
.base {
    height: 25%;
    width: 100%;
    /* background-color: lightgreen; */
    background-color: mintcream;
    border-top: 1px rgba(255, 0, 0, 0.2) solid;
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    margin-bottom: 0;
    display: flex;
}
.base-little{
    height: 22%;
}
.perdidas{
    width: 50%;
    display: flex;
}
.perdida{
    background-color: #d6beb3;
    height: 100%;
    width: 35%;
    border-radius: 2em;
    font-size: 0.8em;
    text-align: center;
    vertical-align: middle;
    
    bottom: 0;
    margin: 0 auto 0 1em;
    border: 1px solid;
}
.perdida:hover, .perdidagrow:hover {
    border: 2px black solid;
}
.cursando {
    background-color: orange;
    border: none;
}
.last{
    border: 0.167em black solid;
}
.finalGrade{
    width: 50%;
    display: flex;
}

.grade{
    background-color: none;
    height: 100%;
    width: 35%;
    border-radius: 2em;
    font-size: 1em;
    text-align: center;
    vertical-align: middle;
    
    bottom: 0;
    margin: 0 0.1em 0 auto;
    font-weight: bold;
}
.numero{
   /* vertical-align: -webkit-baseline-middle;
    vertical-align: middle;*/
}
.aprobado{
    background-color: lightgreen;
    border:none;
}
.reprobado{
    background-color: lightcoral;
    border: none;
}
.ciclos{
    display: flex;
    width: 96%;
    border-left: 1em;
    margin: auto;
    min-width: 96%;
    flex: 1 0 auto;
}

/*dashboard al centro*/
.centro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*Para la barra de ciclos*/
.uno{
    display: flex;
    background-color: black;
    color: white;
    width: 17%;
    border-radius: 0.7em;
    text-align: center;
    margin-left: 0.4em;
    
    /*flex: 1 0 auto;*/
}
.ciclosPeriodos{
    display: flex;
    background-color: black;
    color: white;
    /* width: 89.4%; */
    width: 100%;
    border-radius: 0.7em;
    text-align: center;
    /* margin-left: 2.36em; */
    font-size: 0.7vw;
    
}
.ciclosPeriodosInicio{
    display: flex;
    background-color: black;
    color: white;
    width: 100%;
    border-radius: 0.7em;
    text-align: center;
    margin-left: 0em;
    font-size: 0.7vw;
    
}
.demas{
    display: flex;
    background-color: black;
    color: white;
    width: 17%;
    border-radius: 0.7em;
    text-align: center;
    margin-left: 3em;
    
    /*flex: 1 0 auto;*/
}
.izq{
    width: 34%;
    border-top-left-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    /*flex: 1 0 auto;*/
}


.medio{
    width: 34%;
    text-align: center;
    border-left: 2px solid white;
    border-right: 2px solid white;
    /*Texto que no haga wrap, es decir, que no se produca salto de linea al hacer pequena la pantalla*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    /*flex-shrink: 0;*/
}
.der{
    width: 34%;
    border-top-right-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    
}

.numc{
    background-color: white;
    color: black;
    border-radius: 5em;
    width: 25%;
    margin: auto;
    height: 100%;
    vertical-align: middle;

}
.medioImpar{
    width: 60% !important;
    border-right: none;
}
.main2{
    display: flex;
    flex-direction: row;
    /* margin-left: 2em; */
}
.mainInicio{
    display: flex;
    flex-direction: row;
    margin-left: 0em;
}
/*Para lo del nombre*/
.contenedor {
    display: flex;
    flex-direction: row;
    align-items: center;
   /* margin-left: 1em;*/
    /*margin-right: 0;*/
    justify-content: center;
}
.menuStudent{
    display: flex;
    flex-direction: row;
    width: 40%;
    align-items: center;
}
.menuStudent > label {
    max-width: 6%;
}
.menuStudent > .iconHistory {
    max-width: 5.5%;
    margin-left: 0.5em;
    margin-right: 1em;
}
.menuStudent > h3, .contenedor > h3{
    font-size: 1.4vw;
}
/*Labels para cada boton con su respectivo icono*/
.labelButtonStudentIcon{
    display: flex;
    align-items: center;
    cursor: pointer;
}
/*Botones que no se vana  visualizar pero que los usan los labels*/
#btnface{
    display: none;
}
#btnInforIcon{
    display: none;
}
#btnSettingsIcon{
    display: none;
}
.titleCurriculum{
    width: 40%;
}

.title{
    align-content: center;
    width: 100%;
    text-align: center;
}
.name{
    align-content: flex-start;
    width: 80%;
}

.inforStudent{
    /*align-content: flex-end; */
    width: 20%;
    /* justify-content: right; */
    /* text-align: right; */
    display: flex;
    align-items: center;
    justify-items: right;
    justify-content: flex-end;
}
.inforStudent > label{
    max-width: 15%;
}
.interno {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    word-break: break-word;
    overflow-wrap: break-word;
    height: 75%;
    top: 0;
    margin-top: 0;
    /*para que el texto se ponga con puntitos cuando no alcanza en el div*/
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.interno > span {
    font-size: 80%;
}
.complexity{
    /* display: flex; */
    display: none;
    height: 100%;
    align-items: flex-end;
    width: 5%;
}
.bottom{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.item {
    height: 20%;
    margin-top: 0.1em;
   /* background: black;*/
    width: 100%;
    border-radius: 7em;
    border: 1px black solid;
}
.bottom > .easy {
    /* background-color: mintcream; */
    background-color: black;
    border: 1px solid;
}
.bottom > .middle {
    /* background-color: darkcyan; */
    background-color: black;
}
.bottom > .complex {
    background-color: black;
}
.titleAsignatura{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    word-break: break-word;
    overflow-wrap: break-word;
    height: 100%;
    top: 0;
    margin-top: 0;
    /*para que el texto se ponga con puntitos cuando no alcanza en el div*/
    text-overflow: ellipsis;
    overflow: hidden;
    width: 95%;
}
.optative{
    font-style: oblique;
}
.titleAsignatura > span {
    font-size: 80%;
    /* //para que sea responsivo y se vaya haciendo mas pequeno o mas grande*/ 
    /* font-size: 0.6vw; */
}

/*popups*/
/*popUpAdignatura*/
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
    z-index: 20;
  }
  .contentPopLittle{
      height: 100%;
      cursor: pointer;
  }
  /*popup inner informacion de estudiante*/
  .popup_student_info {
    position: absolute;
    /* height: 25em; */
    height: 25.5em;
    width: 46em;
    /*left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;*/
    margin: auto;
    background: white;
    border-radius: 0.6em;
    text-align: center;
    border: 0.2em black solid;
    box-shadow: 0px 8px 50px 5px black;
    /* para hacerle responsivo */
    font-size: 0.8vw;
  }
  /*Como el popup de informacion del estudiante se esta mostrando detras de todos los componentes
  es necesario agregar el z-index al mismo asi se muestra al frente*/
  .z-index{
    z-index: 20;
  }
  .description{
      height: 100%;
  }
  .popupStudentInfo{
    display: flex;
    flex-direction: row;
    font-size: 1.4vw;
  }
  .popup_student_info *{
      font-size: 1.4vw;
  }
  .popupStudentInfoPhoto{
      width: 20%;
  }
  .popUpStudentInfoData{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  }
  .popUpStudentInfoData > h1, .popUpStudentInfoData > h4 {
      font-weight: bolder;
  }
  .popupStudentInfoDetail{
      display: flex;
      flex-direction: row;
      /* margin-top: 5%; */
      margin-top: 0.2em;
  }
  h5{
    margin-block-start: 0em;
    margin-block-end: 0em;
  }
  .popupStudentInfoDetailDescription{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 2%;
  }
  .popupStudentInfoDetailDescription > h5{
      /* font-weight: bolder; */
      font-weight: normal;
      /* responsivo */
      font-size: 1.1vw;
  }

  /* PopUp configuration */
  .popup_configuration{
    position: absolute;
    /* height: 25em;
    width: 46em; */
    /* tamanos temporales, podria crecer dependiendo de las opciones */
    height: 8em;
    width: 30em;
    /*left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;*/
    margin: auto;
    background: white;
    border-radius: 0.6em;
    text-align: center;
    border: 0.2em black solid;
    box-shadow: 0px 8px 50px 5px black;
    background-image: url("%PUBLIC_URL%/images/background.jpg") no-repeat;
    /* para hacerle responsivo */
    font-size: 0.8vw;
  }
  .config {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* PopUp observations */
  .popup_observations{
    position: absolute;
    /* height: 25em;
    width: 46em; */
    /* tamanos temporales, podria crecer dependiendo de las opciones */
    /* height: 28em; */
    height: fit-content;
    width: 46em;
    /*left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;*/
    margin: auto;
    background: white;
    border-radius: 0.6em;
    text-align: center;
    border: 0.2em black solid;
    box-shadow: 0px 8px 50px 5px black;
    background-image: url("%PUBLIC_URL%/images/background.jpg") no-repeat;
    /* para hacerle responsivo */
    font-size: 0.8vw;
  }
  .observation {
    display: flex;
    
     justify-content: center;
    /* align-items: center; */ 
  }
  .observations-body{
    display: flex;
    flex-direction: row;
  }
  .form-observations{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .student-date, .counselor{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
  }
  .student-name-label{
    width: 15%;
  }
  .student-name, .counselor-name{
    width: 60%;
    display: flex;
    justify-content: flex-start;
  }
  .fecha{
    display: flex;
    justify-content: flex-end;
    order: 3;
    margin: auto;
    width: 20%;
  }
  .counselor-name-label{
    width: 15%;
    display: flex;
    justify-content: center;
  }
  .hour-label {
    display: flex;
    justify-content: flex-end;
    order: 3;
    width: 20%;
  }
  .observations{
    /* display: flex; */
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }
  .label-observations{
    display: flex;
    margin-left: 1em;
  }
  .observations-area{
    display: flex;
    margin: 0px 1em;
    /* height: 12em; */

  }
  .student-name-label, .fecha, .counselor-name-label, .label-observations, .hour-label {
      font-weight: 700;
  }
  .btn-guardar{
      font-size: 0.8vw;
      margin-bottom: 0.5em;
  }
  .label-history{
    font-weight: 700;
    align-self: flex-start;
    display: flex;
    margin-left: 1em;
    margin-bottom: 0em;
    margin-top: 1em;
  }
  .table-container{
    overflow-y: auto;
  }
  .table-history{
    border-collapse: collapse;
    width: 96%;
    /* margin: 0.2em; */
    /* margin-left: 0.1em; */
    /* margin-right: 0em; */
    margin: 1em;
  }
  .table-history, .table-history td, .table-history th{
    border: 1px solid #ddd;
  }
  .table-history th{
    text-align: inherit;
    /* text-align: left; */
    padding: 8px;
    background-color: grey;
    color: white;
  }
  .table-history  td{
    text-align: left;
    padding: 8px;
  }
  .table-history tr:nth-child(even){
    background-color: #f2f2f2;
  }
  /* En caso de que este cursando la asignatura, defino el css para indicar 
  que esta cursando con texto en vez de grafica para los pop up */
  .g-cursando {
    font-size: 1.4vw;
    font-weight: 500;
    fill: orange;
  }
  .paddingBottomMain{
      padding-bottom: 3%;
      font-size: 1.4vw;
  }
  .paddingBottom{
    padding-bottom: 8%;
  }
  .legendDashBoard{
      display: flex;
      flex-direction: row;
      margin-left: 1em;
      margin-right: 1.2em;
  }
  .legendComplexityContainer{
      width: 50%;
      /* display: flex;
    align-items: center; */
  }
  .legendComplexity{
    display: none;
    background-color: lightgray;
    border-radius: 0.5em;
    width: 10em;
    /* width: 15em; para  que sea horizontal*/
    font-size: 0.8vw;
    margin-right: 1em;
  }
  .legendComplexity > h5{
    font-size: 0.8vw;
  }
  .legendDashContainer{
    width: 50%;
    display: flex;
    /* align-items: center; */
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
  }
  .legendDash{
    background-color: lightgray;
    border-radius: 0.5em;
    width: 8em;
    font-size: 0.8vw;
    align-self: center;
  }

  .legendAlta, .legendMedia, .legendBaja, .legendBasica, .legendFormacion, .legendTitulacion{
    display: flex;
    align-items: center;
    align-content: center;
    font-size: smaller;
    padding-left: 0.5em;
  }
  .clegends{
    width: 0.5em;
    height: 0.5em;
    border-radius: 2em;

    margin-right: 0.5em;
  }
  .alta{
    background-color: black;
    margin-top: 0.1em;
  }
  .media{
      /* background-color: darkcyan; */
      background-color: black;
      margin-top: 0.1em;
  }
  .baja{
      /* background-color: mintcream; */
      /* border: 1px black solid; */
      background-color: black;
  }

  .dlegends{
    width: 2.2em;
    height: 1.2em;
    border: 1px black solid;
    border-radius: 0.3em;
    margin-right: 0.5em;
  }
  .popup_inner {
    position: absolute;
    height: 20em;
    width: 18em;
    /*height: 38%;
    width: 22.1%;*/
    /*left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;*/
    margin: auto;
    background: white;
    border-radius: 0.6em;
    text-align: center;
    border: 0.2em cadetblue solid;

    /* para hacer responsivo */
    font-size: 0.8vw;
  }
/*popup inner grande*/
  .popup_inner_grow {
    position: absolute;
    height: 25em;
    width: 46em;
    /*left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;*/
    margin: auto;
    background: white;
    border-radius: 0.6em;
    text-align: center;
    border: 0.2em cadetblue solid;

    /* para hacerle responsivo */
    font-size: 0.8vw;
  }

  .popUpGrowTitulo > h6 {
      font-size: 0.93em;
      font-weight: bold;
      display: inline;
    vertical-align: middle;
  }
  .popUpGrowTitulo{
    height: 7%;
    background-color: lightgray;
  }

  .close{
      position: sticky;
      top: 0;
      left: 100;
      /* border: 1px solid; */
      /* width: 5%; */
      /* width: 1.3em; */
      margin-top: 0.04em;
      /* para poner bordes en todos lados al boton de cerrar */
      /*border-radius: inherit;*/
      /* para repsonsivo */
      font-size: 1.2vw;
      /* border-top-right-radius: 0.2em; */
      cursor: pointer;
      margin-top: 0.2em;
      margin-right: 0.2em;
      /* border: 0.1em black solid; */
      /* border-radius: 0.5em; */
      color: darkred;
  }

  .not-found{
      width: 25%;
      /* float: right; */
      /* Align to the rigth */
      margin: 0 0 0 auto;
      display: none;
  }
  .close-alert{
    cursor: pointer;
    position: sticky;
    top: 0;
    left: 100;
    /* border: 1px solid; */
    /* width: 5%; */
    /* width: 1.3em; */
    /* margin-top: 0.04em; */
    /* para poner bordes en todos lados al boton de cerrar */
    /*border-radius: inherit;*/
    /* para repsonsivo */
    font-size: 1.2vw;
    /* border-top-right-radius: 0.2em; */
    
    float: right;
  }
  .secciones{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 90%;
  }
  .grafica{
    width: 70%;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .graficaCompleta {
      height: 80%;
  }
  .y{
      transform: translate(7%, 1.2%);
  }
  .y > .tick> line{
      stroke: lightgray;
      opacity: 0.7;
  }
  .y > .domain {
      display: none;
  }
  .x > .domain {
      display: none;
  }
  .detalle{
    width: 30%;
    justify-content: left;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid;
    margin-right: 0.5em;
    margin-top: 0.5em;

    font-size: smaller;
  }
  .detalle > table {
    text-align: left;
  }
  /*DIv en el que se mostrara el nombre de la asignatura en el primer popup*/
  .asignaturaTitulo{
      height: 35%;
      display: flex;
      /* align-items: flex-end; */
      align-items: center;
      justify-content: center;
      /* word-break: break-all; */
      word-break: break-word;
  }
  .asignaturaTitulo > h3 {
    
    font-size: 1.4em;
  }
  .descripcion{
      height: 20%;
  }
  .descripcion > h5 {
      /* para responsivo */
    font-size: 1.15vw;
  }
  .perdidagrow{
    background-color: #d6beb3;
    height: 60%;
    width: 35%;
    border-radius: 2em; 
    font-size: 1.7em;
    text-align: center;
    vertical-align: middle;
    bottom: 0;
    margin: 0 auto 0 1em;
    border: 1px solid;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  .gradegrow{
    background-color: none;
    height: 100%;
    width: 35%;
    border-radius: 2em;
    font-size: 2em;
    text-align: center;
    vertical-align: middle;
    bottom: 0;
    margin: 0.5em 0.1em 0.5em auto;
    font-weight: bold;
  }
  /*colacacion de la grafica del popUp Asigantura*/
  .containersvg{
      display: flex;
      align-items: center;
      height: 40%;
  }
  .svg{
      display: block;
      margin: auto auto 0.5em auto;
  }
