HTML  Stylus  JS Result
EDIT ON
 body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Montserrat, sans-serif;
  font-wight: 500;
  font-size: 12px;
}

.root, .rootChart {
  display: flex;
}

.axis text {
  font-weight: bold;
}

.y-axis text {
  text-anchor: end;
}

.axis path {
  display: none;
}

/*.axis line {
  stroke-opacity: 0.3;
}*/

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.legend-item {
  cursor: pointer;
}

.legend-item:hover {
  text-decoration: underline;
}

.extra-options-container {
  font-size: 12px;
  margin-top: 5px;
  display: flex;
  width: 100px;
  margin-left: 57px;
  justify-content: space-between;
}

.hide-all-option, .show-all-option {
  text-decoration: underline;
  cursor: pointer;
}

.hide-all-option:hover, .show-all-option:hover {
  text-decoration: none;
}

.voronoi path {
  fill: none;
  pointer-events: all;
}

.voronoi-show path {
  stroke: red;
  stroke-opacity: 0.2;
}

.region-hover {
  stroke: #000;
  stroke-width: 4px;
}

.actions, actionsChart {
  display: flex;
  width: 681px;
  padding-left: 49px;
  justify-content: space-between;
}

.header {
  display: flex;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.headerChart {
  display: flex;
  width: 100%;
  /* padding-bottom: 10px;
  margin-bottom: 10px; */
}
.headerChart > h5, .headerWorkload > h5{
  /* font-size: 1.1vw; */
  font-size: 1.3vw;
    font-weight: 700;
}
.title{
  padding-right: 40px;
  margin: 0;
  font-weight: 500;
  font-size: 26px;
  line-height: 27px;
  margin-top: 21px;
  padding-left: 48px;
  width: 718px;
  box-sizing: border-box;
}

.preview, previewChart {
  position: relative;
}

.preview-rect {
  position: absolute;
  left: 0;
  top: 0;
}

.preview-axis.x-axis .tick:nth-child(2) text {
  text-anchor: start;
}

.preview-axis.x-axis .tick:nth-child(3) text {
  text-anchor: end;
}


/*para la grafica qeu si funciona con lienas separadas*/
.area {
  fill: lightsteelblue;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.dot {
  fill: white;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.hover{
  stroke-width: 3px;
}
/* .headerChart, .actionsChart {
display: none;
} */

.averageGrade{
  font-size: smaller;
  opacity: 0.5;
  font-weight: lighter;
  font-style: italic;
  font-family: sans-serif;
}
.partner{
  stroke: black;
  color: black;
  fill: black;
}
.student{
  stroke: steelblue;
  fill:steelblue;
}
.linePartner {
  stroke: black;
}
.lineStudent {
  stroke: steelblue;
}
/*El tipo de fuente para todos los que tengan la clase font*/
.font{
  font-family: sans-serif;
}
.bold-text{
  font-weight: 800;
}
.charts{
  display: flex;
  width: 100%;
  background-color: oldlace;
}
.switchCargaTrabajo{
  /* width: 3%; */
  width: 5%;
  display: flex;
  flex-direction: column;
  /* align-content: flex-end; */
  justify-content: flex-end;
  font-size: smaller;
  /* height: 100%; */
  margin-right: 1.5%;
  /* margin-top: 5%; */
  font-weight: bold;
  background-color: white;
}
.workload-switch{
  transform: rotate(90deg);
  width: 70%;
    height: 100%;
}
.workload-switch > .react-switch-bg{
   /* height: 100% !important; */
   height: 2em !important;
   width: 100% !important;
}
.workload-switch > .react-switch-handle{
  /* height: 100% !important; */
  /* width: 33% !important; */
  height: 1.9em !important;
  width: 1.9em !important;
}
.labelCursos{
  margin-bottom: 1.5em;
  text-align: left;
  width: 6em;
  font-size: 0.8vw;
}
.switch-workload{
  text-align: left;
  margin-left: -0.4em;
  width: 6em;
  font-size: 0.8vw;
}
.labelWorkload{
  margin-bottom: 1.5em;
  text-align: left;
  width: 6em;
  font-size: 0.8vw;
}
.legendWorkLoad{
  font-weight: 600;
}
.chartOne{
  width: 45%;
  height: 100%;
}
.chartTwo{
  width: 50%;
  height: 100%;
}
.rootChart{
  width: 100%;
  height: 100%;
}
.chartLine{
  width: 75%;
}
.chartRect{
 width: 75%;
}
.legendChartRect{
  width: 35%;
  height: 100%;
}
.react-switch {
  /* transform: rotate(180deg); */
  transform: rotate(0deg);
  height: 100%;
  width: 100%;
}
.react-switch > .react-switch-bg{
  height: 2em !important;
  width: 100% !important;
}
.react-switch > .react-switch-handle{
  height: 1.9em !important;
  width: 1.9em !important;
}
.svgLegend, 
.svgLegendText {
  font-size: smaller;
}
.legendChart{
  width: 25%;
}
.legendText {
  height: 50%;
}
.switchRect {
  height: 50%;
  display: flex;
  font-size: smaller;
  font-weight: bold;
  word-break: break-all;
}
/*label numero de matricula en el segundo wsitch*/
.labelMatricula{
    text-align: left;
    width: 6em;
    font-size: 0.8vw;
}
/*es el label del switch */
.switchMatriculaComplejidad{
  width: 6em;
  font-size: 0.8vw;
}
/*label complejidad asignatura en el segundo switch*/
.labelComplejidad{
  text-align: left;
  width: 6em;
  font-size: 0.8vw;
  margin-top: -0.5em;/*Margen negativo para que suba y se quede centrado*/
  word-break: keep-all;
}
/*Para el tootl tip informativo de la grafica de linea*/
.ttooltip {
  background-color: lightblue;
  width: 22%;
  display: none;
  opacity: 0;
  position: absolute;
  /* height: 38%; */
  /* height: 245px; */
  height: 22em;
  font-size: 0.8vw;
}

.ttooltip-font{
  font-size: 0.8vw;
}

.ttooltip > div > div{
  /*height: 20px;/*Sirve para definir el tamano del contenedor, como son 12 div * 20 = 240*/
  height: 1.8em;
}
.container-tooltip{
  margin-left: 5%;
}
/*Son los div que necesitan un tab en el tooltip*/
.tip-margin {
  margin-left: 5%;
}

.pure-g {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .pure-g {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .pure-g {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .pure-g {
    width: 1170px;
  }
}


.rect-added{
  fill: lightcyan;
    stroke-width: 0.06em;
    stroke: black;
    cursor: pointer;
}

.table-data{
  margin: 1em;
}
.table-data * {
  font-size: 0.8vw !important;
}
thead tr th {
  background-color: lightblue !important;
  text-align: center !important;
  font-weight: 900 !important;
  text-transform: uppercase;
}
tbody tr:nth-child(even){
  /* background-color: #f2f2f2; */
  background-color: lightcyan;
}
/*Defino el tamano de la columna de observaciones*/
tr th:nth-child(2){
  min-width: 20em;
}
/* defino el tamano de la primera columna(checks) */
tr th:nth-child(1){
  max-width: 1em !important;
  width: 1em;
}















/*Para mostrar el cargando**/
.ipl-progress-indicator.available {
  opacity: 0;
  }
  .progresss {
    opacity: 0;
  }
  .ipl-progress-indicator {
  background-color: #f5f5f5;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 1;
  pointer-events: none;
  -webkit-transition: opacity cubic-bezier(.4, 0, .2, 1) 436ms;
  -moz-transition: opacity cubic-bezier(.4, 0, .2, 1) 436ms;
  transition: opacity cubic-bezier(.4, 0, .2, 1) 436ms;
  z-index: 9999;
  }
  .insp-logo-frame {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-animation: fadein 436ms;
  -moz-animation: fadein 436ms;
  animation: fadein 436ms;
  height: 98%;
  }
  .insp-logo-frame-img{
  width: 112px;
  height: 112px;
  -webkit-align-self: center;
  -moz-align-self: center;
  align-self: center;
  border-radius: 50%;
  }
  .ipl-progress-indicator-head {
  background-color: #c6dafc;
  height: 4px;
  overflow: hidden;
  position: relative;
  }
  .ipl-progress-indicator .first-indicator, .ipl-progress-indicator .second-indicator {
  background-color: #056D8B;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  transform: scaleX(0);
  }
  .ipl-progress-indicator .first-indicator {
  -webkit-animation: first-indicator 2000ms linear infinite;
  -moz-animation: first-indicator 2000ms linear infinite;
  animation: first-indicator 2000ms linear infinite;
  }
  .ipl-progress-indicator .second-indicator {
  -webkit-animation: second-indicator 2000ms linear infinite;
  -moz-animation: second-indicator 2000ms linear infinite;
  animation: second-indicator 2000ms linear infinite;
  }
  .ipl-progress-indicator .insp-logo {
  animation: App-logo-spin infinite 20s linear;
  border-radius: 50%;
  -webkit-align-self: center;
  -moz-align-self: center;
  align-self: center;
  }
  @keyframes App-logo-spin {
  from {
  transform: rotate(0deg);
  }
  to {
  transform: rotate(360deg);
  }
  }
  @-webkit-keyframes fadein {
  from {
  opacity: 0;
  }
  to {
  opacity: 1;
  }
  ;
  }
  @-moz-keyframes fadein {
  from {
  opacity: 0;
  }
  to {
  opacity: 1;
  }
  ;
  }
  @keyframes fadein {
  from {
  opacity: 0;
  }
  to {
  opacity: 1;
  }
  ;
  }
  @keyframes first-indicator {
  0% {
  transform: translate(0%) scaleX(0);
  }
  25% {
  transform: translate(0%) scaleX(0.5);
  }
  50% {
  transform: translate(25%) scaleX(0.75);
  }
  75% {
  transform: translate(100%) scaleX(0);
  }
  100% {
  transform: translate(100%) scaleX(0);
  }
  ;
  }
  @keyframes second-indicator {
  0% {
  transform: translate(0%) scaleX(0);
  }
  60% {
  transform: translate(0%) scaleX(0);
  }
  80% {
  transform: translate(0%) scaleX(0.6);
  }
  100% {
  transform: translate(100%) scaleX(0.1);
  }
  ;
  }

  .loading {
    width: 10%;
    height: 25%;
    align-self: center;
  }